        #choiceWindow {
            display: none; 
            position: absolute; 
            top: 25%; 
            left: 25%; 
            width: 30%; 
            height: 55%; 
            padding: 20px; 
            border: 3px solid #ccc; 
            background-color: white;
            z-index:999999999; 
            overflow: auto; 
        }

