


.aside-nav {
	position: fixed;
	right: -90px;
	top: 150px;
	width: 260px;
	height: 260px;
	-webkit-filter: url(#goo);
	filter: url(#goo);
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	opacity: .75
}
